{{#each this}}
<li class="events__el grid-item" data-id='{{id}}'>
    <div class="events__el-square"></div>
    <picture class="events__el-image">
        <source srcset="{{images.7.url}}" media="(max-width: 767.98px)">
        <source srcset="{{images.7.url}}" media="(max-width: 1279.98px)">
        <img src="{{images.7.url}}" alt='{{name}}'>
    </picture>
    {{!-- <div class="events__el-image">
    <img alt='{{name}}' src='{{images.7.url}}'/>
    </div> --}}
    <div class="events__meta">
        <h2 data-id='{{id}}' class="events__meta-title">{{name}}</h2>
        <h3 class ="events__meta-date">{{dates.start.localDate}}</h3>
    {{#if _embedded.venues.0.name}} 
        <p class="events__meta-place" id='{{id}}'>
          {{_embedded.venues.0.name}}</p> 
          {{!-- span --}}
    {{/if}}
    </div>
</li>
{{/each}}