{{#each data._embedded.events}}
<div class="modal__window">
    <button type="button" class="modal__close-btn" data-action="modal-close">
        <svg class="modal__close-icon">
            <use href="./images/svg/close-modal.svg"></use>
        </svg>
    </button>

    <div class="modal__event-header">
        <img src="{{images.1.url}}" alt="icon" class="modal__event-icon" />
    </div>
    <div class="modal__content-wrapper">
        <div class="modal__event-content-image">
            <picture>
                <source srcset="
                {{images.3.url}} 3x
                " media="(min-width: 768px)">
                <source srcset="
                {{images.4.url}} 3x
                " media="(min-width: 1280px)">
            </picture>
            <img src="{{images.3.url}}" alt="icon" class="modal__event-poster" />
        </div>

        <div class="modal__event-content">
            <ul class="modal__event-container">
                <li class="modal__item-info">
                    <h2 class="modal__item-title">INFO</h2>
                    {{#if info}}
                    <p class="modal__item-content">{{info}}</p>
                    {{/if}}

                    {{#unless info}}
                    <p class="modal__item-content">No event information available.</p>
                    {{/unless}}
                </li>
                <li class="modal__item-info">
                    <h2 class="modal__item-title">WHEN</h2>
                    <p class="modal__item-content">
                        {{dates.start.localDate}}
                        {{dates.start.localTime}}
                        {{dates.timezone}}
                    </p>
                </li>
                <li class="modal__item-info">
                    <h2 class="modal__item-title">WHERE</h2>
                    {{#each _embedded.venues}}
                    {{#if name}}
                    <p class="modal__item-content">{{name}}</p>
                    {{/if}}

                    {{#unless name}}
                    <p class="modal__item-content">Information about the venue is available on the official Ticketmaster website.</p>
                    {{/unless}}
                    {{/each}}
                </li>
                <li class="modal__item-info">
                    <h2 class="modal__item-title">WHO</h2>
                    <p class="modal__item-content">{{name}}</p>
                </li>
                <li class="modal__item-info">
                    <h2 class="modal__item-title">PRICES</h2>
                    <svg class="modal__ticket-icon">
                        <use href="../images/svg/ticket.svg"></use>
                    </svg>

                </li>
                    {{!-- <ul class="modal__item-buttons"> --}}
                        <li class="modal__item-info">
                            {{#each priceRanges}}
                            <p class="modal__item-content">{{type}} {{min}}-{{max}} {{currency}}</p>
                            {{/each}}
                            <a href="{{url}}" target="_blank" rel="noopener noreferer" class="modal__btn link" data-action="buy-cheap">
                                    BUY TICKETS
                            </a>
                        </li>
                        <li class="modal__item-info">
                            <p class="modal__item-content">VIP {{eventHighPricesContent}} {{currency}}</p>
                            <a href="{{url}}" target="_blank" rel="noopener noreferer" class="modal__btn link" data-action="buy-expensive">
                                    BUY TICKETS
                            </a>
                        </li>
                    {{!-- </ul> --}}
            </ul>

            {{!-- <div class="modal__more-btn-container">
                <a href="{{_embedded.attractions.0.externalLinks.homepage.0.url}}" target="_blank" rel="noopener noreferer" class="modal__more-btn">MORE FROM THIS AUTHOR</a> 
            </div> --}}

        </div>
    </div>
        <div class="modal__more-btn-container"></div>
            <a href="{{_embedded.attractions.0.externalLinks.homepage.0.url}}" target="_blank" rel="noopener noreferer"
                class="modal__more-btn link">MORE FROM THIS AUTHOR</a>
        </div>
   
</div>
{{/each}}